@import '../../styles/variaties.scss';

.mapfind {
    :global {
        .am-navbar-left {
            color: $maincolor;
        }
    }

    .map_box {
        width: 100vw;
        height: calc(100vh - 45px);
    }
}