@import '../styles/variaties.scss';

/* 定位组件 */
.search {
    // 定位
    position: absolute;
    top: pxToVw(30);
    left: 50%;
    transform: translateX(-50%);
    width: pxToVw(300);
    height: pxToVw(34);
    z-index: 99;
    // 弹性盒子
    display: flex;

    .search_bar {
        display: flex;
        align-items: center;
        width: pxToVw(255);
        background-color: #fff;
        border-radius: pxToVw(4);

        .bar_city {
            min-width: pxToVw(40);
            border-right: 1px solid #e5e5e5;
            padding: 0 pxToVw(10);
            margin-right: pxToVw(10);
            text-align: center;
            color: #5e5e5e;
            i {
                font-size: pxToVw(12);
            }
        }

        .bar_input {
            flex: 1;
            color: #9c9fa1;
            i {
                color: #ffbb12;
            }
        }
    }

    .search_map {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: pxToVw(24);
        color: #fff;
    }
}

/* 房屋信息组件 */@at-root
.list_item {
    display: flex;
    padding: 20px 0;
    margin: 0 10px;
    border-bottom: 1px solid #e4e1e1;

    img {
        width: 106px;
        height: 80px;
    }

    .list_item_info {
        flex: 1;
        padding-left: 10px;
        .info_head {
            font-size: 14px;
            font-weight: 700;
        }
        .info_subhead {
            font-size: 12px;
            color: #afb2b3;
            padding: 6px 0;
        }

        .info_tags {
            display: flex;
            font-size: 12px;

            .tags_item {
                padding: 2px 4px;
                margin-right: 4px;

                &:first-child {
                    color: #39becd;
                    background-color: #e1f1f8;
                    border-radius: 2px;
                }
                &:nth-child(2) {
                    color: #3fc28c;
                    background-color: #e1f5ed;
                    border-radius: 2px;
                }
                &:nth-child(3) {
                    color: #cd395e;
                    background-color: #f8e1e6;
                    border-radius: 2px;
                }
            }
        }

        .info_price {
            color: #fa5741;
            margin-top: 4px;
            b {
                font-size: 16px;
            }
        }
    }
}